# ignore all node modules
node_modules

# ignore all the things starting with . except this file 
.*
!.gitignore

# ignore all the files in db_data that is populated with a wordpress install
db_data/*

# dont ignore themes
!wordpress_cms/wp-content/themes/

# ignore the default themes
wordpress_cms/wp-content/themes/twenty*/

# dont ignore plugins
!wordpress_cms/wp-content/plugins/

# gatsby files
.cache/
public/*



