# ignore node modules
node_modules/

# ignore all the things starting with . except this file 
.*
!.gitignore

# ignore all the files in db_data that is populated with a wordpress install
db_data/

# ignore everything inside wordpress content folder:
wordpress/*
wordpress/wp-content/*

!wordpress/wp-content


# dont ignore themes
!wordpress/wp-content/themes/

# ignore the default themes
wordpress/wp-content/themes/twenty*/

# dont ignore plugins
!wordpress/wp-content/plugins/


